<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Equipo</title>
</head>
<body>
    <h1>Agregar Equipo</h1>
    <form method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre"><br><br>
        <label for="liga">Liga:</label>
        <input type="text" id="liga" name="liga"><br><br>
        <input type="submit" value="Agregar Equipo">
    </form>
</body>
</html>
